.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
}

/* LEFT BUTTON — transparent overlay */
.carousel-button-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;       /* CHANGE SIZE HERE */
    height: 100%;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    font-size: 80px;
    color: rgba(255, 255, 255, 1);

    /*opacity: 0;        /* invisible but clickable */
}

/* RIGHT BUTTON — transparent overlay */
.carousel-button-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;       /* CHANGE SIZE HERE */
    height: 100%;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    font-size: 80px;
    color: rgba(255, 255, 255, 1);

    /*opacity: 0;        /* invisible but clickable */

}
