:root {
}

.my-button {
    color: white;
}

.my-button:hover {
    color: red;
}

TextField .unity-label {
    color: white;
}

Slider .unity-label {
    color: white;
}

SliderInt .unity-label {
    color: white;
}

.hbutton {
    width: 20%;
    height: 100%;
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    -unity-font-definition: url("project://database/Assets/UI/HelpMe.ttf?fileID=12800000&guid=b7aa06ca69d7d934699c3c632d135f68&type=3#HelpMe");
    font-size: 80px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.title {
    width: 100%;
    height: 16%;
    -unity-font-definition: url("project://database/Assets/UI/HelpMe.ttf?fileID=12800000&guid=b7aa06ca69d7d934699c3c632d135f68&type=3#HelpMe");
    font-size: 100px;
    color: rgb(255, 0, 0);
    -unity-text-align: upper-center;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.unity-base-text-field__input{
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
}